@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Playfair+Display:wght@400;700&display=swap');

/* 폰트 굵기 지정은 숫자로
피그마의 text스타일과 맞춰써주세요
 regular : 400, medium : 500, bold : 700 */

*{
  font-family: 'Noto Sans KR', 'Playfair Display';
}
.container{
  width: 1440px;
 
}
/* header */
.navbar{
  height: 104px;
}
.nav-item{
  list-style:none;
}
.nav-link{
  font-size: 20px !important;
  color: #000 !important;
  font-weight: 500;
  margin-left: 30px;

}
.navbar-brand{
  font-size: 20px !important;
  font-weight: 700;
}
#navbarScrollingDropdown{
  z-index: 9999;
  
}
#basic-navbar-nav{
  background-color: #fff;
  margin-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}


/* footer */
footer{
  clear: both;
  height: 218px;
  margin-top: 100px;
}
.FtextBox{
  padding-top: 72px;
}
.Ftext{
  float: left;
  margin-right: 45px;
}
.FSubtext {
  clear: both;
}

/* by 김은주 - 서브페이지 화면명+이미지 2023-02-23 */
.subvisual h1 {font-weight:500}