

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body{
  font-family: 'NotoSansKR', 'PlayfairDisplay', serif, sans-serif;
}

.container{
  width: 1440px;
}

.main{
z-index: -1;
height: 864px;
position: relative;
background-image:url(../resource/main/Main2.png), url(../resource/main/Main1.png); background-size:483px 373px, 513px 375px; background-position:490px 0px, 0 233px; background-repeat:no-repeat;
}
.mainText1{
  font-size: 16px;
  margin-top: 38px; 
  /* margin-left: 50px; */
  margin-left: 30px;
  font-family: 'NotoSansKR';
  line-height: 21px;
}

.mainText2{
  font-size: 215px;
  /* margin-left: 98px; */
  margin-left: 60px;
  line-height: 175px;
  font-family: 'Playfair Display';
  font-weight: bold;
}

.mainText3{
  font-size: 215px;
  /* margin-left: 350px; */
  margin-left: 160px;
  line-height: 175px;
  font-family: 'Playfair Display';
  font-weight: bold;
}
.mainBtn{
  width: 228px;
  height: 50px;
  text-align: center;
  background-color: #000;
  margin-top: 80px;
  /* margin-left: 519px; */
  margin-left: 340px;
}
.mainTextBtn{
  text-decoration: none !important;
  color: #fff !important;
  font-size: 26px;
  font-family: 'NotoSansKR';
}
.content{
 height: 5826px;
  margin-top: 230px;
  display: flex;
}
.h2{
  font-family: 'Playfair Display';
  text-align: center;
  padding-bottom: 73px;
  font-size: 80px !important;
}

.Pimg1{
  width: 578px;
  height: 722px;
  margin-bottom: 78px !important;
  margin: 0 auto;
  background-image: url(../resource/main/Preview1.png);
}
.Pimg2{
  width: 572px;
  height: 381px;
  text-align: center;
  margin-bottom: 78px !important;
  margin: 0 auto;
  background-image: url(../resource/main/Preview2.png);
}
.Pimg3{
  width: 572px;
  height: 383px;
  margin-bottom: 78px !important;
  margin: 0 auto;
  background-image: url(../resource/main/Preview3.png);
}
.Pimg4{
  margin-top: 78px;
  width: 578px;
  height: 730px;
  margin-bottom: 78px !important;
  margin: 0 auto;
  background-image: url(../resource/main/Preview4.png);
}
.Pimg5{
  margin-bottom: 78px !important;
  margin: 0 auto;
  width: 573px;
  height: 716px;
  background-image: url(../resource/main/Preview5.png);
}
.Pimg6{
  margin-bottom: 78px !important;
  margin: 0 auto;
  width: 578px;
  height: 376px;
  background-image: url(../resource/main/Preview6.png);
}
.Pimg7{
  margin-bottom: 78px !important;
  margin: 0 auto;
  width: 578px;
  height: 608px;
  background-image: url(../resource/main/Preview7.png);
}
.Pimg8{
  margin-bottom: 78px !important;
  margin: 0 auto;
  width: 578px;
  height: 724px;
  background-image: url(../resource/main/Preview8.png);
}
.Pimg9{
  margin-bottom: 78px !important;
  margin: 0 auto;
  width: 579px;
  height: 385px;
  background-image: url(../resource/main/Preview9.png);
}


@media (min-width: 992px) {
  .main{
    height: 864px;
    position: relative;
    background-image:url(../resource/main/Main2.png), url(../resource/main/Main1.png); background-size:690px 533px, 733px 536px; background-position:1212px 0px, 0 334px; background-repeat:no-repeat;
    }

  .mainText1{
  font-size: 24px;
  margin-top: 38px; 
  margin-left: 70px;
  font-family: 'NotoSansKR';
  line-height: 30px;
}

.mainText2{
  font-size: 308px;
  margin-left: 140px;
  line-height: 250px;
  font-family: 'Playfair Display';
  font-weight: bold;
}

.mainText3{
  font-size: 308px;
  margin-left: 526px;
  line-height: 250px;
  font-family: 'Playfair Display';
  font-weight: bold;
}
.mainBtn{
  width: 327px;
  height: 72px;
  text-align: center;
  background-color: #000;
  margin-top: 115px;
  margin-left: 742px;
}
.mainTextBtn{
  text-decoration: none !important;
  color: #fff !important;
  font-size: 38px;
  font-family: 'NotoSansKR';
}


.h2{
  font-family: 'Playfair Display';
  text-align: center;
  padding-bottom: 51px;
  font-size: 80px !important;
}
  .content{height: 3048px;}
  .Pimg1{float: left;}
  .Pimg2{ margin-left: 46px; float: right;}
  .Pimg3{margin-left: 46px; float: right;}
  .Pimg4{ float: left;}
  .Pimg5{ margin-left: 46px; float: right; }
  .Pimg6{float: left;}
  .Pimg7{margin-left: 46px; float: right;}
  .Pimg8{float: left;}
  .Pimg9{margin-left: 46px; float: right;}
}
